@import "tailwindcss";

:root {
  /*?============================= */
  /*? LAYOUT                       */
  /*?============================= */
  --container-layout: 1750px;
  --container-main: 1300px;

  /* Section margin */
  --section-sm: 40px;
  --section-md: 80px;
  --section-lg: 100px;

  /* Spaces (Gap, Margini, ecc) */
  --space-xs:   10px;
  --space-sm:   16px;
  --space-md:   24px;
  --space-lg:   32px;
  --space-xl:   46px;
  --space-blog: 50px;

  /*?============================= */
  /*? SUPERFICI                    */
  /*?============================= */
  --background: #ffffff;
  --foreground: #171717;

  /* Brand */
  --brand:      rgb(119, 178, 255);
  --brand-dark: rgb(100, 150, 216);

  /* Status */
  --warning: #F59E0B;
  --danger:  #EF4444;
  --info:    #3B82F6;
  --tip:     #8B5CF6;

  /* Divisori */
  --border-default: rgba(0, 0, 0, 0.15);

  /* Badges */
  --default-badge:  var(--brand);
  --draft-badge:    rgb(38, 50, 63);
  --progress-badge: #faa536;
  --completed-badge:#22c55e;

  /* Pulsanti */
  --btn-primary-bg: var(--foreground);
  --btn-primary-text: var(--text-inverse);
  --btn-secondary-bg: var(--background);
  --btn-secondary-bg-hover: var(--brand);
  --btn-cta-bg: var(--brand);

  /*?============================= */
  /*? TESTI                        */
  /*?============================= */
  --text-primary:      rgba(0, 0, 0, 0.8);
  --text-secondary:    rgba(0, 0, 0, 0.6);
  --text-highlight:    #77b2ff;
  --text-highlight-15: rgba(119, 178, 255, 0.15);

  --text-secondary-dark: rgba(255, 255, 255, 0.603);
  --text-inverse: #fff;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --text-medium: var(--medium-emphasis);

  --font-sans: var(--font-parkinsans-sans);
  --font-mono: var(--font-fustat-mono);
}

/*?============================= */
/*? DARK MODE                    */
/*?============================= */
@media (prefers-color-scheme: dark) {
  /* TODO: Aggiungere la darkmode */
  :root {
    --background: #ffffff; /*  #0a0a0a*/
    --foreground: #000000; /* #ededed */
  }
}

/*?============================= */
/*? STILI BASE                   */
/*?============================= */
body {
  background: var(--background);
  color: var(--foreground);
  overflow-x: hidden;
}


html{
  scroll-behavior: smooth;
}

/*?============================= */
/*? LAYOUT + RESPONSIVE          */
/*?============================= */
footer{
  margin-top: 60px;
}

/* Mobile */
@media (min-width: 640px) {
  footer{
    margin-top: 70px;
  }
}

/* Tablet */
@media (min-width: 1024px) {
  footer{
    margin-top: 90px;
  }

  :root{
      --space-xs: 16px;
      --space-sm: 24px;
      --space-md: 32px;
      --space-lg: 46px;
      --space-xl: 58px;
      --space-blog: 100px;
  }
}

/*?============================= */
/*? COMPONENT STYLING            */
/*?============================= */
/* Section component padding */
.section-sm { padding-block: var(--section-sm); }
.section-md { padding-block: var(--section-md); }
.section-lg { padding-block: var(--section-lg); }

/* Stack component gap */
.gap-xs { gap: var(--space-xs) }
.gap-sm { gap: var(--space-sm) }
.gap-md { gap: var(--space-md) }
.gap-lg { gap: var(--space-lg) }
.gap-xl { gap: var(--space-xl) }